.hero{

    margin: 30px 0;

    text-align: center;

    &--image{
        display: inline-block;
        height: 96px;
        max-height: 96px;
        max-width: 96px;
        width: 96px;

        background-position: center center;
        background-size: cover;
        border-radius: 100%;
    }

    &--name{
        font-family: 'Oswald';
        font-weight: 700;
        text-transform: uppercase;
    }

    &--section{
        text-align: left !important;
    }

    &--subtitle{
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.badges{
    .badge{
        max-width: 325px;
        
        margin-right: 8px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}