body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.navbar{
  background-color: #393939 !important;
}

.navbar ul li .nav-link{
  font-family: 'Oswald';
  color: #fff !important; 
}

.mainLogo{
  display: inline-block;

  height: 40px;
  width: 97px;

  background-image: url(./assets/images/marvel.png);
  background-position: center center;
  background-size: cover;
}